# 1. Import pandas and load the `billboard_1978.csv` dataset into a DataFrame

As a reminder, `billboard_1978.csv` is in your `jtc_class_code/datasets` folder

In [1]:
import pandas as pd
billboard = pd.read_csv('\\Users\\there\\Desktop\\JTC_Class_Code\\datasets\\billboard_1978.csv')

# 2. Print out the top 7 rows of the DataFrame

##Printed the first 7 rows of the Dataframe##

In [2]:
billboard.head(7)

,Year,Hot_Singles_Rank,Title,Artist,Genre,Weeks_On_Chart,Peak_Chart_Position,Maj_Min,BPM
0,1978,1,"""Shadow Dancing""",Andy Gibb,Pop,25,1,Min,102
1,1978,2,"""Night Fever""",Bee Gees,Pop,20,1,Min,110
2,1978,3,"""You Light Up My Life""",Debby Boone,Country,25,1,Maj,78
3,1978,4,"""Stayin' Alive""",Bee Gees,Pop,27,1,Min,103
4,1978,5,"""Kiss You All Over""",Exile,Country,23,1,Maj,104
5,1978,6,"""How Deep Is Your Love""",Bee Gees,Pop,33,1,Maj,105
6,1978,7,"""Baby Come Back""",Player,Pop,32,1,Maj,78

# 3. Use the pandas docs to figure out how to sort the DataFrame so the fastest songs (highest BPM values) are at the top. Also, sort the DataFrame 'in place' without having to assign to a variable

In [3]:
billboard.sort_values(by='BPM', ascending =False, inplace = True)
billboard

,Year,Hot_Singles_Rank,Title,Artist,Genre,Weeks_On_Chart,Peak_Chart_Position,Maj_Min,BPM
74,1978,75,"""Always and Forever""",Heatwave,R&B/Soul,20,18,Maj,156
98,1978,99,"""Hollywood Nights""",Bob Seger & The Silver Bullet Band,Rock,13,12,Maj,150
76,1978,77,"""Serpentine Fire""","Earth, Wind & Fire",R&B/Soul,18,13,Maj,140
93,1978,94,"""Turn to Stone""",Electric Light Orchestra,Rock,15,13,Maj,138
69,1978,70,"""What's Your Name""",Lynyrd Skynyrd,Rock,18,13,Maj,138
...,...,...,...,...,...,...,...,...,...
11,1978,12,"""I Go Crazy""",Paul Davis,Pop,40,7,Maj,70
80,1978,81,"""Bluer Than Blue""",Michael Johnson,Pop,16,12,Maj,66
97,1978,98,"""We're All Alone""",Rita Coolidge,Pop,20,7,Maj,66
33,1978,34,"""Last Dance""",Donna Summer,Pop,21,3,Maj,64
62,1978,63,"""You Needed Me""",Anne Murray,Country,26,1,Maj,64

# 4. Use the pandas docs to find out how to remove the `Genre` and `Maj_Min` columns from the DataFrame (while keeping the rest)

Make sure you save the resulting DataFrame, either in place, or by assigning a new variable

Hint: one way to phrase this is 'dropping' columns

In [4]:
b = billboard.drop(columns=['Genre', 'Maj_Min'])
b

,Year,Hot_Singles_Rank,Title,Artist,Weeks_On_Chart,Peak_Chart_Position,BPM
74,1978,75,"""Always and Forever""",Heatwave,20,18,156
98,1978,99,"""Hollywood Nights""",Bob Seger & The Silver Bullet Band,13,12,150
76,1978,77,"""Serpentine Fire""","Earth, Wind & Fire",18,13,140
93,1978,94,"""Turn to Stone""",Electric Light Orchestra,15,13,138
69,1978,70,"""What's Your Name""",Lynyrd Skynyrd,18,13,138
...,...,...,...,...,...,...,...
11,1978,12,"""I Go Crazy""",Paul Davis,40,7,70
80,1978,81,"""Bluer Than Blue""",Michael Johnson,16,12,66
97,1978,98,"""We're All Alone""",Rita Coolidge,20,7,66
33,1978,34,"""Last Dance""",Donna Summer,21,3,64
62,1978,63,"""You Needed Me""",Anne Murray,26,1,64

# 5. Using [this page from the Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.lower.html) as a starting point, find a way to make song titles all lower case and song artists all caps.

Remember, each column in a DataFrame object is a data type called `Series` (or `pandas.Series`)

In [5]:
billboard['Title'] = billboard['Title'].str.lower()
billboard

,Year,Hot_Singles_Rank,Title,Artist,Genre,Weeks_On_Chart,Peak_Chart_Position,Maj_Min,BPM
74,1978,75,"""always and forever""",Heatwave,R&B/Soul,20,18,Maj,156
98,1978,99,"""hollywood nights""",Bob Seger & The Silver Bullet Band,Rock,13,12,Maj,150
76,1978,77,"""serpentine fire""","Earth, Wind & Fire",R&B/Soul,18,13,Maj,140
93,1978,94,"""turn to stone""",Electric Light Orchestra,Rock,15,13,Maj,138
69,1978,70,"""what's your name""",Lynyrd Skynyrd,Rock,18,13,Maj,138
...,...,...,...,...,...,...,...,...,...
11,1978,12,"""i go crazy""",Paul Davis,Pop,40,7,Maj,70
80,1978,81,"""bluer than blue""",Michael Johnson,Pop,16,12,Maj,66
97,1978,98,"""we're all alone""",Rita Coolidge,Pop,20,7,Maj,66
33,1978,34,"""last dance""",Donna Summer,Pop,21,3,Maj,64
62,1978,63,"""you needed me""",Anne Murray,Country,26,1,Maj,64

In [6]:
billboard['Artist'] =billboard['Artist'].str.upper()
billboard

,Year,Hot_Singles_Rank,Title,Artist,Genre,Weeks_On_Chart,Peak_Chart_Position,Maj_Min,BPM
74,1978,75,"""always and forever""",HEATWAVE,R&B/Soul,20,18,Maj,156
98,1978,99,"""hollywood nights""",BOB SEGER & THE SILVER BULLET BAND,Rock,13,12,Maj,150
76,1978,77,"""serpentine fire""","EARTH, WIND & FIRE",R&B/Soul,18,13,Maj,140
93,1978,94,"""turn to stone""",ELECTRIC LIGHT ORCHESTRA,Rock,15,13,Maj,138
69,1978,70,"""what's your name""",LYNYRD SKYNYRD,Rock,18,13,Maj,138
...,...,...,...,...,...,...,...,...,...
11,1978,12,"""i go crazy""",PAUL DAVIS,Pop,40,7,Maj,70
80,1978,81,"""bluer than blue""",MICHAEL JOHNSON,Pop,16,12,Maj,66
97,1978,98,"""we're all alone""",RITA COOLIDGE,Pop,20,7,Maj,66
33,1978,34,"""last dance""",DONNA SUMMER,Pop,21,3,Maj,64
62,1978,63,"""you needed me""",ANNE MURRAY,Country,26,1,Maj,64

# 6. Using the Pandas docs, find a way to export your finished DataFrame to a new csv file called `billboard_1978_cleaned.csv`

#### Bonus: can you get this file to be output right back into the `jtc_class_code/datasets/` folder?

In [7]:
billboard.to_csv(r'\Users\there\Desktop\JTC_Class_Code\datasets\billboard_1978_clean.csv')

# 7. Wrap-up: comment your code (including pasting in any links to the docs where you found solutions) and push your .ipynb file to github

Congrats on finishing this challenge!